.wrapper{
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	background: #4AC29A;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
}
._container{
	max-width: 1430px;
	margin: 0 auto;
	padding:0 15px;

}
.header{

}
.main{
	width: 100%;
	/*background: #fff;*/

}

.main__container{

}
.limited{
	margin-bottom: 30px;
}
.limited__status{
	text-align: right;
}
.limited__status>span{
	cursor: pointer;
	font-weight: 400;
font-size: 26px;
line-height: 32px;
}
.limited__status:active{
	position: relative;
	top: 2px;
}